In [2]:
#practical que/ans
#Write a Python program to print "Hello, World!?
print("hello world")

hello world

In [8]:
#Write a Python program that displays your name and age?
name=input("enter your name")
age=int(input("enter your age"))
print("my name is",name,"and my age is",age)

enter your namevanshika
enter your age20
my name is vanshika and my age is 20

In [9]:
#Write code to print all the pre-defined keywords in Python using the keyword library?
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [10]:
#Write a program that checks if a given word is a Python keyword?
import keyword
word=input("enter a word")
if keyword.iskeyword(word):
    print(word,"is a python keyword")
else:
    print(word,"is not a python keyword")

enter a wordtrue
true is not a python keyword

In [13]:
#Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each?
list=[1,2,3,4,5]
tuple=(1,2,3,4,5)
list[0]=10
tuple[0]=10

TypeError: 'tuple' object does not support item assignment

In [14]:
#Write a function to demonstrate the behavior of mutable and immutable arguments?
def modify_list(lst):
    lst.append(4)
my_list = [1, 2, 3]
modify_list(my_list)
print(my_list)

[1, 2, 3, 4]

In [15]:
#Write a function to demonstrate the behavior of mutable and immutable arguments?
def modify_tuple(tup):
    new_tup = tup + (4,)
    return new_tup
my_tuple = (1, 2, 3)
my_tuple = modify_tuple(my_tuple)
print(my_tuple)

(1, 2, 3, 4)

In [19]:
#Write a program to demonstrate the use of logical operators?
x = 10
y = 5
z = 15

In [24]:
#Write a Python program to convert user input from string to integer, float, and boolean types?
num_str = input("Enter a number as a string: ")
num_int = int(num_str)
num_float = float(num_str)
num_bool = bool(num_str)

Enter a number as a string: 1

In [29]:
#Write code to demonstrate type casting with list elements?
list_str = ["1", "2", "3", "4", "5"]
list_int = [int(x) for x in list_str]
list_float = [float(x) for x in list_str]

In [30]:
#Write a program that checks if a number is positive, negative, or zero?
num=int(input("enter a number"))
if num>0:
    print("the number is positive")
elif num<0:
    print("the number is negative")
else:
    print("the number is zero")

enter a number21
the number is positive

In [31]:
#Write a for loop to print numbers from 1 to 100?
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [32]:
#Write a Python program to find the sum of all even numbers between 1 and 50?
sum=0
for i in range(1,51):
    if i%2==0:
        sum=sum+i
print(sum)

650

In [36]:
#Write a program to reverse a string using a while loop?
str=input("enter a string")
rev=""
i=len(str)-1
while i>=0:
    rev=rev+str[i]
    i=i-1
print(rev)

enter a string123
321

In [35]:
#Write a Python program to calculate the factorial of a number provided by the user using a while loop?
num=int(input("enter a number"))
fact=1
i=1
while i<=num:
    fact=fact*i
    i=i+1
print(fact)

enter a number21
51090942171709440000